NEXT_PUBLIC_SUPABASE_URL=https://alfsrxwabllyldcbofok.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-n6jipbvXreg6MF7aum3MA_qFo9tUEa
SECRET_KEY=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
COZE_API_TOKEN=
COZE_BOT_ID=7626782065836933172
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=qa-new-stage6
