NEXT_PUBLIC_SUPABASE_URL=https://alfsrxwabllyldcbofok.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-n6jipbvXreg6MF7aum3MA_qFo9tUEa
SECRET_KEY=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
